<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shain.name %>
</p>

<p>
  <strong>Yakushoku:</strong>
  <%= @shain.yakushoku %>
</p>

</p>
  <strong>Kihonkyu:</strong>
  <%= @shain.kihonkyu %>
</p>

</p>
  <strong>Salary:</strong>
  <%= @shain.calculate_salary(2) %>
</p>

</p>
<%= link_to '規律を号令', standup_shain_path %> 
</p>
<%= link_to 'Edit', edit_shain_path(@shain) %> |
<%= link_to 'Back', shains_path %>
