<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @shain.name %>
</p>

<p>
  <strong>役職:</strong>
  <%= @shain.yakushoku %>
</p>

</p>
  <strong>基本給:</strong>
  <%= @shain.kihonkyu %>
</p>

</p>
  <strong>給料:</strong>
  <%= @shain.calculate_salary(@shain.kihonkyu) %>
</p>

</p>
<%= link_to '規律を号令', standup_shain_path %> 
</p>
<%= link_to 'Edit', edit_shain_path(@shain) %> |
<%= link_to 'Back', shains_path %>
